h2 {
    text-align: center;
    margin-top: 30px;
}

p{
    max-width: 700px;
    margin: 30px auto;
    color: #7b7b7b;
}

/*********************************************************************
 PRINT
*********************************************************************/

@media print {

    h2 {
        color: black;
    }

}